* {
  box-sizing: border-box;
  font-family: "Kiwi Maru", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.concept p {
  margin-top: 40px;
  margin-bottom: 40px;
}

.keyvisual h1 {
  font-size: 200px;
  margin: 20px 0px 20px 10px;
  color: #fff;
  position: relative;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(
    20deg,
    rgb(211, 209, 209, 0.3) 45%,
    #fff 50%,
    rgb(211, 209, 209, 0.3) 55%
  );
  background-size: 500% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 4s infinite;
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
html {
  scroll-behavior: smooth;
}

.gotop {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  border: solid 6px #383838;
  border-radius: 50%;
  box-shadow: 0 3px 10px #383838;
}

.gotop:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background-color: #383838;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  transition: transform ease 0.4s;
}

.gotop:hover:after {
  transform: translate(-50%, -50%) scale(1.1, 1.1);
}

.gotop:before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 55%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: #383838;
  border-width: 6px 0 0 6px;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: border-color ease 0.1s;
}

.gotop:hover:before {
  border-color: #fff;
}

.gotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
}

.gazou {
  margin-bottom: 48px;
  position: relative;
  iframe {
    filter: invert(100%) brightness(300%);
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #496373;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: color;
    pointer-events: none;
  }
}

#modal-1,
#modal-2,
#modal-3,
#modal-4 {
  display: none;
}
#modal-1.is-open,
#modal-2.is-open,
#modal-3.is-open,
#modal-4.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  background-color: #fff;
  padding: 30px;
  margin-right: 20px;
  margin-left: 20px;
  width: 500px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  text-align: center;
}
.modal__close {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #383838;
  color: white;
  margin-left: 10px;
}
.modal__btn {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  background: #383838;
  color: white;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  justify-content: space-between;
}

.modal__btn {
  display: block;
  text-align: center;
  background: #383838;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  box-shadow: -2px 3px 6px 0 #aaa;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.modal__btn:hover {
  background: #fff;
  color: #383838;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*===========
inview
===========*/

.fadeIn {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1s;
}
.fadeIn.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

.news_sentence {
  padding: 0 15px;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
}

h3 span {
  padding-bottom: 10px;
  border-bottom: #383838 solid 5px;
}

.header-menu li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.header-menu li a:hover::after {
  transform: scale(1, 1);
}

.header-menu li a {
  position: relative;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
}

body {
  background-color: #f5f3f0;
}

header {
  position: fixed;
  width: 100%; /*追加*/
  z-index: 100000;
  background-color: #383838;
}
.header_nav {
  padding: 10px 0;
}

.header-menu {
  display: flex;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  list-style-type: none;
}

.header-menu li {
  width: 100%;
}

.header-menu li a {
  color: white;
}

ol {
  list-style: none;
}

footer {
  background-color: #383838;
  padding: 10px;
  text-align: center;
  color: white;
}

.keyvisual {
  background-image: url("../image/keyvisual.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 170px;
  height: 70vh;
}

.logo {
  width: 100px;
}

h1 {
  font-size: 5em;
  letter-spacing: 0.2em;
  margin-left: 0.2em;
  margin-bottom: 10px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.submessage {
  color: white;
  font-size: 1.5em;
}

section {
  max-width: 1080px;
  margin: 50px auto;
}

/* news flexbox 親要素 */
.news_con {
  display: flex;
  justify-content: space-between;
}

/* news flexbox 子要素 */
.news_box {
  flex-basis: 300px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

/* store flexbox 親要素 */
.store_con {
  display: flex;
  justify-content: space-around;
}

/* store flexbox 子要素 */
.store_box {
  flex-basis: 550px;
}

table {
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: center;
  vertical-align: top;
}

th,
td {
  padding: 10px;
}

td {
  text-align: left;
}

.gazou {
  flex-basis: 330px;
}

img {
  width: 100%;
}
.news_sentence {
  background: #333333;
  color: #ffffff;
}
/* スマホ対応 */
@media (max-width: 980px) {
  .header-menu {
    flex-wrap: wrap;
  }
  .store_con {
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .news_con {
    flex-wrap: wrap;
  }
  .news_box {
    margin-bottom: 5px;
  }
}

// 予約するのアニメーション用
$thick: 3px;
$pad: 0.7em;
$extra: calc(#{$pad} * 1.2);
$color: white;

.portfolio-experiment {
  a {
    color: white;
    padding: $pad $extra;
    display: inline-block;
    border: $thick solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;

    .text {
      // padding: 0 0.3em;
      font-family: proxima-nova, monospace;
      transform: translate3d(0, $pad, 0);
      display: block;
      transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }

    &:after {
      position: absolute;
      content: "";
      bottom: -$thick;
      left: $extra;
      right: $extra;
      height: $thick;
      background: $color;
      // z-index: -1;
      transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
        right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s,
        left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
      transform-origin: left;
    }
  }

  .line {
    position: absolute;
    background: $color;

    &.-right,
    &.-left {
      width: $thick;
      bottom: -$thick;
      top: -$thick;
      transform: scale3d(1, 0, 1);
    }

    &.-top,
    &.-bottom {
      height: $thick;
      left: -$thick;
      right: -$thick;
      transform: scale3d(0, 1, 1);
    }

    &.-right {
      right: -$thick;
      transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -$thick;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -$thick;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -$thick;
      transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
      transform-origin: right;
    }
  }

  a:hover,
  a:active {
    .text {
      transform: translate3d(0, 0, 0);
      transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    }

    &:after {
      transform: scale3d(0, 1, 1);
      right: -$thick;
      left: -$thick;
      transform-origin: right;
      transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
        right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
    }

    .line {
      transform: scale3d(1, 1, 1);

      &.-right {
        transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
        transform-origin: bottom;
      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
        transform-origin: left;
      }
    }
  }
}

.container,
.flip-box,
.front,
.front_2,
.front_3,
.back {
  width: 340px;
  height: 300px;
}

.container,
.flip_box,
.flip_box_2,
.flip_box_3 {
  position: relative;
}

.front,
.front_2,
.front_3,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_box,
.flip_box_2,
.flip_box_3 {
  transition: all 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front {
  background-image: url("../image/banner.jpg");
  background-position: center;
  background-size: cover;
}

.front_2 {
  background-image: url("../image/news_2.jpg");
  background-position: center;
  background-size: cover;
}

.front_3 {
  background-image: url("../image/news_1.jpg");
  background-position: center;
  background-size: cover;
}

.f_title {
  padding-top: 30px;
}

.f_subline {
  padding-top: 205px;
  color: #b1d4e8;
}

.f_headline {
  line-height: 23px;
}

.back {
  background-color: #383838;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: white;
  padding: 15px;
}

.b_headline {
  padding-top: 50px;
}

.b_text {
  font-size: 1.4em;
  line-height: 28px;
  padding-top: 10px;
  opacity: 0.85;
}

.b_button:hover {
  background-color: #940530;
}

.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.r_wrap {
  position: absolute;
  left: 70px;
  bottom: 15px;
}

.b_round,
.s_round,
.b_round_2,
.s_round_2,
.b_round_3,
.s_round_3 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #940530;
  transition: all 0.2s linear;
}

.b_round,
.b_round_2,
.b_round_3 {
  opacity: 0;
  background-color: #940530;
}

.b_round_hover,
.b_round_hover_2,
.b_round_hover_3 {
  transform: scale(1.37);
  opacity: 0.4;
}

.b_round_back_hover,
.b_round_back_hover_2,
.b_round_back_hover_3 {
  background-color: #940530;
}

.s_round_click,
.s_round_click_2,
.s_round_click_3 {
  transform: scale(1.7);
}

.s_round_back,
.s_round_back_2,
.s_round_back_3 {
  background-color: #940530;
}

.s_arrow,
.s_arrow_2,
.s_arrow_3 {
  width: 52px;
  height: 52px;
  background-image: url("https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig");
  background-color: transparent;
  transition: all 0.35s linear;
}

.s_arrow_rotate {
  transform: rotate(-180deg);
}
